.mymenu .mat-icon{
    color: black;
    position: relative;
    font-size: 2em;
}
.logo{
    margin-left: 2em;
}

.mat-drawer-content{
overflow-x: hidden;        
}
.footer-copyright{
color: white;
}
.footer-copyright img{
width: 30px;
margin: 1em;
}
.menu-web{
    margin-left: 3em;
}
.menu-web a{
    font-size: 19px;
    padding: 30px;
}